#!/bin/bash

address={{ ansible_facts.eth0.ipv4.address }}:8082 \
aerospike_nodes={% for host in groups.aerospike %}{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:3000{% if not loop.last %},{% endif %}{% endfor %} \
db_write_timeout_ms=10000 \
db_write_initial_backoff_ms=1000 \
aggr_pusher_interval_ms=15000 \
RUST_LOG=warn \
/opt/allezon/api_server &> /opt/allezon/api_server.log
