#!/bin/bash

address={{ ansible_facts.eth0.ipv4.address }}:8082 \
kafka_brokers={{ ansible_facts.eth0.ipv4.address }}:9092 \
kafka_topic=user_tags \
{% if ansible_hostname in groups.even %}
aerospike_user_profiles={{ hostvars[groups.even[0]]['ansible_eth0']['ipv4']['address'] }}:3000 \
{% else %}
aerospike_user_profiles={{ hostvars[groups.odd[0]]['ansible_eth0']['ipv4']['address'] }}:3000 \
{% endif %}
{% if ansible_hostname in groups.even %}
aerospike_aggregates=
    {%- for host in groups.even -%}
        {%- if loop.index == 2 -%}
{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:3000
        {%- elif loop.index > 2 -%}
,{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:3000
    {%- endif -%}
    {%- endfor -%}
{%- else -%}
aerospike_aggregates=
    {%- for host in groups.odd -%}
        {%- if loop.index == 2 -%}
{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:3000
        {%- elif loop.index > 2 -%}
,{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:3000
        {%- endif -%}
    {%- endfor -%}
{%- endif %} \
/opt/allezon/api_server &> /opt/allezon/api_server.log
