#!/bin/bash

kafka_brokers={{ ansible_facts.eth0.ipv4.address }}:9092 \
kafka_brokers={% for host in groups.kafka %}{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9092{% if not loop.last %},{% endif %}{% endfor %} \
kafka_group_base={{ kafka_group_base }} \
kafka_topic=user_tags \
aerospike_nodes={% for host in groups.aerospike %}{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:3000{% if not loop.last %},{% endif %}{% endfor %} \
update_retry_limit_ms=10000 \
/opt/allezon/consumer &> /opt/allezon/consumer.log
